<!DOCTYPE html>
<html>
  <head>
    <title>Behold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
