<!DOCTYPE html>
<html>
  <head>
    <title>Behold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/rjq4apd.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script> type="text/javascript"
      window.adobeLogo = "<%= image_url("brand_logo_adobe.png") %>"
    </script>
    <script> type="text/javascript"
      window.profileAvatar = "<%= image_url("profile_avatar.jpg") %>"
    </script>
    <script> type="text/javascript"
      window.gitHub = "<%= image_url("github-icon.png") %>"
    </script>
    <script> type="text/javascript"
      window.linkedIn = "<%= image_url("linkedin-icon.png") %>"
    </script>
    <script> type="text/javascript"
      window.gitHubDark = "<%= image_url("github-icon_dark.svg") %>"
    </script>
    <script> type="text/javascript"
      window.linkedInDark = "<%= image_url("linkedin-icon_dark.png") %>"
    </script>
    <script> type="text/javascript"
      window.beholdLogoBold = "<%= image_url("behold_logo_bold.png") %>"
    </script>
    <script> type="text/javascript"
      window.beholdLogo = "<%= image_url("behold_logo.png") %>"
    </script>
    <script> type="text/javascript"
      window.homeBanner = "<%= image_url("home_banner.jpg") %>"
    </script>
    <script> type="text/javascript"
      window.defaultAvatar = "<%= image_url("default_avatar.png") %>"
    </script>
    <script> type="text/javascript"
      window.defaultBanner = "<%= image_url("default_banner.jpg") %>"
    </script>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
